@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --color-one: #8261ee;
    --color-two: #ff589e;
    --color-text: #1e1e1e;
    --font: "Raleway", sans-serif;
}

*{
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--color-text);
    
    }   
    
a {
    text-decoration: none !important;
}

